:root {
    --heading-color: #201F22;
    --text-color: rgba(32, 31, 34, 0.8);
    --accent-color: #FD4C5C;
    --accent-color-2: #2B59FF;
    --white-color: #ffffff;
    --button-color: #2B59FF;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    max-width: 100%;
}

.blocks-gallery-grid .blocks-gallery-image figure, .blocks-gallery-grid .blocks-gallery-item figure, .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    position: relative;
}

.wp-block-cover {
    margin-bottom: 1.5em;
}


.wp-block-pullquote {
    border-top: 4px solid var(--accent-color) !important;
    border-bottom: 4px solid var(--accent-color) !important;
}

.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {
    margin-top: 10px;
    display: block;
}

.logged-in-as a {
    color: #222;
}

.logged-in-as a:hover {
    color: var(--accent-color);
}

/*new unit test*/
.wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
    margin-left: 10px;
}

.wp-block-column:not(:last-child) {
    margin-right: 10px;
}

.wp-block-column:nth-child(2n+1) {
    margin-right: 10px;
}

.post-text>.alignwide {
    margin-left: 0;
    margin-right: 0;
}

.post-text p.has-large-font-size {
    font-size: 36px;
    line-height: 1.2;
}

.has-very-light-gray-color.has-very-light-gray-color {
    color: #fff;
    background: var(--accent-color);
}

.wp-block-archives select, .wp-block-archives .postform {
    height: 50px;
    width: 200px;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.wp-block-categories .postform {
    width: 200px;
    border: 1px solid #ddd;
    padding: 0 10px;
    float: none;
    margin-bottom: 15px;
}

.wp-block-archives .nice-select {
    float: none;
    margin-bottom: 15px;
    width: 200px;
    margin-bottom: 15px;
}

.wp-block-latest-comments {
    padding-left: 0 !important;
}

.wp-block-latest-posts.has-dates {
    padding-left: 0;
}

.wp-block-archives li a, .wp-block-categories li a {
    color: var(--heading-color);
}


.wp-block-search__input {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.wp-block-cover {
    margin-bottom: 30px;
}

.wp-block-search .wp-block-search__button {
    margin-left: 0;
    color: var(--heading-color);
    border: 0;
    margin-bottom: 14px;
    width: fit-content;
    height: 50px;
    border-radius: 3px;
    margin-left: 0px;
    color: #fff;
    font-size: 0;
    position: absolute;
    border: 0px !important;
}

.wp-block-search .wp-block-search__button:after {
    position: absolute;
    content: "\e610";
    font-family: 'themify';
    font-weight: 900;
    top: 67%;
    left: 35px;
    font-size: 20px;
    color: rgba(161, 161, 170, 1);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.wp-block-latest-comments__comment {
    line-height: 1.5 !important;
}

ul.wp-block-archives-list.wp-block-archives li {
    margin-bottom: 15px;
}

.wp-block-search .wp-block-search__label {
    display: none;
}

.slicko-sidebar-wrap h2 {
    font-weight: 600;
    line-height: 26px;
    color: var(--heading-color);
    font-size: 21px;
    border-bottom: 1px solid rgba(18, 20, 29, 0.1);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.slicko-sidebar-wrap h2:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 1px;
    content: "";
    background-color: var(--heading-color);
}
.wp-block-latest-posts__featured-image {
    margin-right: 20px !important;
}

.wp-block-calendar {
    overflow: hidden;
    margin-bottom: 1.5em;
    background-color: #fff;
    padding: 0 20px 20px;
}


.wp-block-group.has-background {
    padding: 20px 30px;
    margin-bottom: 20px;
}

.wp-block-button a.wp-block-button__link {
    background: var(--accent-color-2);
    color: var(--white-color);
    font-size: 13px;
    font-weight: 400;
    padding: 16px 44px;

}

.wp-block-button a.wp-block-button__link:hover {
    color: var(--white-color);
}

.wp-block-button {
    margin-bottom: 1.5em;
}

.wp-block-media-text~p {
    margin-top: 1.5em;
}




.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
    background-color: transparent;
    color: var(--heading-color);
}

.wp-block-cover.has-background-dim p, .wp-block-cover.has-background-dim a, .wp-block-cover.has-background-dim strong {
    color: #f4f7fa;
}

ul.blocks-gallery-grid .blocks-gallery-item:after {
    display: none;
}

ul.blocks-gallery-grid .blocks-gallery-item {
    padding-left: 0 !important;
}

figure.wp-block-gallery {
    margin-bottom: 1.5em;
}

figure.wp-block-gallery .blocks-gallery-caption {
    margin-top: 10px;
}


.wp-block-file .wp-block-file__button {
    background-color: var(--accent-color);
}

.wp-block-table table {
    margin-bottom: 0;
}

.wp-block-table {
    margin-bottom: 1.5em;
}

.wp-block-search .wp-block-search__input::placeholder {
    color: var(--text-color) !important;
}

.wp-block-search .wp-block-search__input {
    flex-grow: 1;
    min-width: 3em;
    background: var(--white-color);
    border: 1px solid #EAE9F2 !important;
    box-sizing: border-box;
    border-radius: 10px;
    height: 60px;
    padding-left: 63px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    border: 0;
    color: var(--text-color) !important;
}

:root .has-cyan-bluish-gray-background-color {
    background-color: var(--accent-color-2);
}

.wp-block-pullquote.is-style-solid-color blockquote p {
    color: var(--heading-color);
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
    color: var(--heading-color);
    opacity: .78;
}